body {
    margin: 0;
    padding: 0;
    display: flex;
}

.left, .right {
    display: flex;
    flex-flow: column;
}

.left {
    height: 1000px;
    background-image: url("leaves.avif");
    flex: 0 1 30%;
    justify-content: space-between;
}

.logo {
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 15%;
    display: flex;
    padding: 2%;
}

.left div {
    text-align: center;
    color: white;
}

.logo div {
    color: white;
}

.logo img {
    height: 90%;
}

.right {
    flex: 0 1 70%;
}

a:link, a:visited, a:hover, a:active {
  color: white;
}

