body {
    margin: 0;
    padding: 0;
    display: flex;
}

.left, .right {
    display: flex;
    flex-flow: column;
}

.left {
    height: 1000px;
    background-image: url("leaves.avif");
    flex: 0 1 30%;
    justify-content: space-between;
}

.logo {
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 15%;
    display: flex;
    padding: 2%;
}

.left div {
    text-align: center;
    color: white;
}

.logo div {
    color: white;
}

.logo img {
    height: 90%;
}

.right {
    padding: 2%;
    justify-content: space-evenly;
    flex: 0 1 70%;
}

p {
    font-size: larger;
    font-weight: 500;
}
.right a:link, .right a:visited, .right a:hover, .right a:active {
    text-decoration: none;
    font-weight: 600;
    color: rgb(5, 43, 5)
}

.left a:link, .left a:visited, .left a:hover, .left a:active {
  color: white;
}

