@font-face {
  font-family: "norse";
  src:
    url("Norse-Bold.woff2") format("woff2"),
    url("Norse-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: "arial";
}

.left, .right {
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
}

.left {
    height: 100vh;
    background-image: url("leaves.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex: 0 1 30%;
    justify-content: space-between;
}

.logo {
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 15%;
    display: flex;
    padding: 2%;
}

.left div,
.logo div {
    text-align: center;
    color: white;
}

.logo div {
    font-family: "norse";
    font-size: 7vw;
}

.credit {
    margin: 0 0 1em;
}

.logo img {
    height: 90%;
}

.right {
    justify-content: center;
    flex: 0 1 70%;
}

p {
    font-size: larger;
    font-weight: 600;
    padding-bottom: 1em;
    width: 75%;
}

.right a:link, .right a:visited, .right a:hover, .right a:active {
    text-decoration: none;
    font-weight: 600;
    color: rgb(5, 43, 5)
}

.left a:link, .left a:visited, .left a:hover, .left a:active {
  color: white;
}

.right > div {
    width: 60%;
    margin-left: 2em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.form-rows {
    padding: 0 1em 1em;
    position: relative;
    display: flex;
    flex-flow: wrap;
    box-sizing: border-box;
    margin: 1em 0;
    width: 750px;
}

.form-box {
    padding: 0.2em 0;
    box-shadow: 
        0px 5px 5px rgba(0, 0, 0, 0.125), 
        0px -1px 5px rgba(0, 0, 0, 0.075);
}

.form-row {
    margin: 0.5em;
    flex: 1 0 40%;
    display: flex;
    flex-flow: column;
}
label {
    letter-spacing: 0.1rem;
    font-size: small;
}

input {
    width: 80%;
    height: 2em;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

button {
    margin: 1em;
    height: 3em;
    width: 15em;
    color: white;
    font-weight: bold;
    background-color: #596D48;;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
}

h1 {
    flex: 1 1 100%;
    margin: 0.3em;
    font-weight: 600;
    font-size: 150%;
    display: flex;
}

input:invalid {
    border: 1px solid red;
}

input:focus {
    border: 1px solid blue;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.125);
}